fastapi
uvicorn
pydantic==2.6.4
httpx
starlette
sqlalchemy
fastapi-users
fastapi-security
fastapi-pagination
fastapi-jwt-auth
psycopg2-binary
jose
python-jose[cryptography]
passlib
openai
langchain
asyncpg
python-dotenv
alembic
langchain-openai
langchain-chroma
langchain-text-splitters
langchain-community
chromadb
python-dotenv
python-multipart
aiofiles
unstructured
unstructured[all-docs]
tqdm